{% extends "admin/generic/page/form.html" %}{% load i18n admin_toolbar_tags admin_list_tags %}

{% block content_title %}
{% if next %}
<a href="{{next}}">{{parent}}</a>
&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
{% endif %}
{% if object %}
    {{object}}
{% else %}
    {% blocktrans with verbose_name as verbose_name %}
        Add {{verbose_name}}
    {% endblocktrans %}
{% endif %}
{% endblock content_title %}

{% block content_actions %}
{% if next %}
    <a href="{{next}}" class="btn btn--small btn--cancel">
        <span class="fa fa-chevron-left"></span>
        Back
    </a>
{% endif %}
{% endblock content_actions %}

{% block form_actions_right %}
{% if next %}
    <a href="{{next}}" class="btn btn--cancel pull-right">
        {% trans "Back" %}
    </a>
{% endif %}
{% endblock form_actions_right %}
