{% extends "admin/generic/page/form.html" %}{% load i18n admin_toolbar_tags admin_list_tags %}

{% block content_title %}
<a href="{% get_admin_url parent_app_label parent_model_name 'detail' parent %}">{{parent}}</a>
&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
{% if object %}
    {{object}}
{% else %}
    {% blocktrans with verbose_name as verbose_name %}
        Add {{verbose_name}}
    {% endblocktrans %}
{% endif %}
{% endblock content_title %}

{% block content_actions %}
{% if next %}
    <a href="{{next}}" class="btn btn--small btn--cancel">
        <span class="fa fa-chevron-left"></span>
        Back
    </a>
{% endif %}
{% endblock content_actions %}

{% block form_actions %}
<div class="form__actions">
    <div class="form__actions-inner">
        <button type="submit" class="btn btn--primary">
            {% trans "Save" %}
        </button>
        {% if next %}
            <a href="{{next}}" class="btn btn--cancel pull-right">
                {% trans "Back" %}
            </a>
        {% endif %}
    </div>
</div>
{% endblock form_actions %}
